<h1><%= _('Profile settings for %s').html_safe % profile.name %></h1>

<%= error_messages_for :profile_data %>

<%= labelled_form_for :profile_data, :html => { :id => 'profile-data', :multipart => true } do |f| %>

  <% if user.has_permission?('manage_environment_templates', profile.environment) %>
    <div id="profile-is-template">
      <%= labelled_check_box(_('This profile is a template'), 'profile_data[is_template]', true, @profile.is_template) %>
    </div>
  <% end %>

  <%= render :partial => partial_for_class(@profile.class), :locals => { :f => f } %>

  <div id="profile_change_picture_title">
    <h2><%= _('Change picture') %></h2>
    <span><%= unchangeable_privacy_field @profile %></span>
  </div>
  <div id="profile_change_picture">
    <%= f.fields_for :image_builder, @profile.image do |i| %>
      <%= file_field_or_thumbnail(_('Image:'), @profile.image, i) %><%= _("Max size: %s (.jpg, .gif, .png)").html_safe % Image.max_size.to_humanreadable %>
    <% end %>
  </div>

  <h2><%= _('Privacy options') %></h2>
  <%= content_tag('h4', _('Followers')) %>
  <div>
    <%= labelled_check_box _("Allow other users to follow me"), 'profile_data[allow_followers]', true, @profile.allow_followers?, :class => "person-can-be-followed" %>
  </div>
  <%= content_tag('h4', _('Visibility')) %>
  <% if profile.person? %>
    <div id="profile_allow_follows">
      <%= labelled_radio_button _('Public &mdash; show my contents to all internet users').html_safe, 'profile_data[public_profile]', true, @profile.public_profile? %>
    </div>
    <div>
      <%= labelled_radio_button _('Private &mdash; show my contents only to friends').html_safe, 'profile_data[public_profile]', false, !@profile.public_profile? %>
    </div>
  <% else %>
    <div>
      <%= labelled_check_box _("Secret &mdash; hide the community and all its contents for non members and other people can't join this community unless they are invited to.").html_safe, 'profile_data[secret]', true, profile.secret, :class => "profile-secret-box" %>
    </div>
    <div>
      <%= labelled_radio_button _('Public &mdash; show content of this group to all internet users').html_safe, 'profile_data[public_profile]', true, @profile.public_profile?, :class => "public-community-button" %>
    </div>
    <div>
      <%= labelled_radio_button _('Private &mdash; show content of this group only to members').html_safe, 'profile_data[public_profile]', false, !@profile.public_profile?, :class => "private-community-button" %>
    </div>
  <% end %>

  <%= content_tag('h4', _('Wall access')) %>
  <%= content_tag( 'small', _('Who will be able to see your wall?')) %>
  <%= slider_field_tag('wall-access', 'profile_data[wall_access]', @profile, @profile.wall_access_levels, @profile.wall_access) %>

  <% if environment.enabled?('allow_change_of_redirection_after_login') %>
    <%= render 'redirection_after_login', f: f %>
  <% end %>

  <h2><%= _('Translations') %></h2>
  <%= labelled_check_box(
    _('Automaticaly redirect the visitor to the article translated to his/her language'),
    'profile_data[redirect_l10n]', true, @profile.redirect_l10n
  )%>

  <h2><%= _('Suggestions') %></h2>
  <%= labelled_check_box(
    _('Send me relationship suggestions by email'),
    'profile_data[email_suggestions]', true, @profile.email_suggestions
  )%>

  <%=
    safe_join(@plugins.dispatch(:profile_editor_extras).map do |content|
      content.kind_of?(Proc) ? self.instance_exec(&content) : content
    end, "\n")
  %>

  <%= select_categories(:profile_data, _('Select the categories of your interest'), 2) %>

  <%= button_bar do %>
    <%= submit_button('save', _('Save'), :cancel => {:action => 'index'}) %>
    <%= button(:back, _('Back to control panel'), :controller => 'profile_editor') %>
  <% end %>

  <% if user && user.has_permission?('destroy_profile', profile) %>
    <%= button_bar(:id => 'delete-profile') do %>

      <% if !environment.enabled?('forbid_destroy_profile') || user.is_admin?(environment) %>
        <%= button(:remove, _('Delete profile'), {:action => :destroy_profile}) %>
      <% end %>

      <% if user.is_admin?(environment) %>
        <% if profile.visible? %>
          <%= button(:remove, _('Deactivate profile'),
            {:action => :deactivate_profile, :id=>profile.id},
            :id=>'deactivate_profile_button',
            :data => {:confirm=>_("Are you sure you want to deactivate this profile?")})
          %>
        <% else %>
          <%= button(:add, _('Activate profile'),
            {:action => :activate_profile, :id=>profile.id},
            :data => {:confirm=>_("Are you sure you want to activate this profile?")})
          %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= javascript_include_tag 'profile_editor' %>
